---
import type { GetStaticPaths } from 'astro'
import { Picture } from '@astrojs/image/components'

import Layout from '../../layouts/Layout.astro'

type GetCharactersResponse = {
  info: {
    count: number
    pages: number
    next_page: null | string
    prev_page: null | string
  }
  results: {
    id: number
    name: string
    img: string
    age: number
    height: string
    alias: string[]
    current_inheritor: string
    species: string[]
    gender: string
    relatives: {
      family: string
      members: string[]
    }[]
    birthplace: string
    residence: string
    status: 'alive' | 'alive'
    occupation: string
    groups: {
      name: string
      sub_groups: string[]
    }[]
    roles: string[]
    episodes: string[]
  }[]
}

export const getStaticPaths = (async () => {
  const response = await fetch('https://api.attackontitanapi.com/characters')
  const data = (await response.json()) as GetCharactersResponse
  return [...new Array(data.info.pages)].map((_, ind) => ({
    params: { page: (ind + 1).toString() },
  }))
}) satisfies GetStaticPaths

const { page } = Astro.params

const response = await fetch(
  'https://api.attackontitanapi.com/characters?page=' + page
)
const data = (await response.json()) as GetCharactersResponse
const characters = data.results
---

<Layout title="Attack on Titan">
  <!-- <h1>Page {page}</h1> -->
  <ul class="grid grid-cols-3 gap-10">
    {
      characters.map((character) => (
        <li class="bg-gray-700 flex flex-col items-center font-mono text-white p-10 rounded-lg gap-3">
          <p>{character.name}</p>
          <p>{character.gender}</p>
          <div class="w-[10rem]">
            {character.img && (
              <Picture
                src={character.img}
                widths={[350]}
                alt={character.name}
                aspectRatio={'1:1'}
                class={'rounded-lg'}
              />
            )}
          </div>
        </li>
      ))
    }
  </ul>
</Layout>
